<template>
	<div class="container">
	    <div class="row">
	    	<div class="col-md-12 col-md-offset-0">
	        	<slot></slot>  
	        </div>
	    </div>
	</div>
</template>

<script>
    export default {
    }
</script>
