<template>
    <div v-bind:class="setColor">
	    <div class="panel-heading">{{ headline }}</div>

	    <div class="panel-body">
	        <slot></slot>
	    </div>
	</div>
</template>

<script>
    export default {
    	props:['headline','color'],
    	computed: {
    		setColor: function() {
    			return "panel " + (this.color || "panel-default");
    		}
    	}
    }
</script>

<style type="text/css">
	.green {
		border-color: #d6e9c6;
	}

	.green > .panel-heading {
		color: #ffffff;
		background-color: #3c763d;
		border-color: #3c763d;
	}
</style>
