<template>
	<div>
		<div class="form-inline">
			<!-- Campo de Busca -->
			<div class="form-group pull-right">
				<input class="form-control" type="search" placeholder="Filtrar..." v-model="search">	
			</div>
		</div>

		<br>

  		<!-- Tabela -->
  		<div class="table-responsive">
	        <table class="table table-responsive table-striped table-hover">
			    <thead>
			        <tr>
			            <th v-for="field in fields">{{ field }}</th>
			        </tr>
			    </thead>
			    <tbody>
			    	<tr v-for="(item,index) in list">
			            <td v-for="i in item">{{ i }}</td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
</template>

<script>
    export default {
    	props:["fields","items"],
    	data: function() {
			return {
				search: ""
			}
		},
    	computed:{
    		// Função utilizada para filtrar listagem
    		list: function(){
    			if (this.search) {
	    			return this.items.filter(res => {
	    				res = Object.values(res);
	    				for (let index = 0; index < res.length; index++) {
		    				if ( res[index].toString().toLowerCase().indexOf(this.search.toLowerCase()) >= 0) {
		    					return true;
		    				}
	    				}
						return false;
	    			});
    			}
    			return this.items;
    		}
    	}
    }
</script> 