<template>
	<div>
		<div class="form-inline">
			<!-- Novo Registro -->
			<modal-link-component id="toCreate" title="Novo"></modal-link-component>

			<!-- Campo de Busca -->
			<div class="form-group pull-right">
				<input class="form-control" type="search" placeholder="Filtrar..." v-model="search">	
			</div>
		</div>

		<br>

  		<!-- Tabela -->
  		<div class="table-responsive">
	        <table class="table table-responsive table-striped table-hover">
			    <thead>
			        <tr>
			            <th v-for="field in fields">{{ field }}</th>
			            <th>Ações</th>
			        </tr>
			    </thead>
			    <tbody>
				    <tr v-if="list.length === 0">
			        	<td><i>Não existem dados para serem apresentados</i></td>
			        </tr>
			    	<tr v-for="(item,index) in list">
			            <td v-for="i in item">{{ i }}</td>
			            <td>
			            	<modal-link-component id="toRead" title="Detalhes" v-bind:item="item" v-bind:url="read"></modal-link-component>
			            	<modal-link-component id="toUpdate" title="Editar" v-bind:item="item" v-bind:url="update"></modal-link-component>

			           		<a href="#" v-on:click="submitForm(index)">
			           			<modal-link-component title="Excluir"></modal-link-component>
			           		</a>

			            	<form v-bind:id="index" v-bind:action="remove + item.id" method="POST">
			            		<input type="hidden" name="_method" value="DELETE">
			            		<input type="hidden" name="_token" v-bind:value="token">
			            	</form>
			            </td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
</template>

<script>
    export default {
    	props:["fields","items","read","update","remove","token"],
    	data: function() {
			return {
				search: ""
			}
		},
    	methods:{
    		submitForm: function(index) {
    			$("#" + index).submit();
    		}
    	},
    	computed:{
    		// Função utilizada para filtrar listagem
    		list: function(){
    			if (this.search) {
	    			return this.items.filter(res => {
	    				res = Object.values(res);
	    				for (let index = 0; index < res.length; index++) {
		    				if ( res[index].toString().toLowerCase().indexOf(this.search.toLowerCase()) >= 0) {
		    					return true;
		    				}
	    				}
						return false;
	    			});
    			}
    			return this.items;
    		}
    	}
    }
</script>

<style type="text/css">
	tr {
	    white-space: nowrap;
	    overflow: hidden; 
	}
</style>